<!DOCTYPE html>
<html>
  <head>
    <title>LoginFbPhone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p data-test="notice" class="notice"><%= notice %></p>
    <p data-test="alert" class="alert"><%= alert %></p>
    <%= link_to "Root", root_path %>
    <% if current_user.present? %>
      <span data-test="current-user-email"><%= current_user.phone || current_user.email %></span>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false }, form_class: "d-inline" %>
      
    <% else %>
      <%= link_to "Signup", new_user_registration_path %>
    
    <% end %>
      
    <%= yield %>
  </body>
</html>
